body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.sidebar {
    background-color: rgb(25,146,212);
    color: white;
    padding: 16px;
}

a {
    text-decoration: none;
}

.dashboard-items {
    display: flex;
    height: 60%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
    font-weight: 600;
    font-size: 1.1em;
    padding-left: 8px;
}

.dashboard-items img {
    width: 20px;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 48px;
    color: white;
}

.logo > p {
    margin: 0;
}

.dashboard-item {
    display: flex;
    column-gap: 8px;
    color: white;
}

.dashboard-item:nth-last-child(3) {
    margin-top: auto;
}

.logo > p {
    font-weight: 600;
    font-size: 1.8em;
}

